In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

In [45]:
df=pd.read_csv('Fertilizer Prediction.csv')
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [46]:
df.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     bool
 1   Humidity         99 non-null     bool
 2   Moisture         99 non-null     bool
 3   Soil Type        99 non-null     bool
 4   Crop Type        99 non-null     bool
 5   Nitrogen         99 non-null     bool
 6   Potassium        99 non-null     bool
 7   Phosphorous      99 non-null     bool
 8   Fertilizer Name  99 non-null     bool
dtypes: bool(9)
memory usage: 1019.0 bytes

In [47]:
y=df['Fertilizer Name']

In [48]:
df=df.drop('Fertilizer Name',axis=1)
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,26,52,38,Sandy,Maize,37,0,0
1,29,52,45,Loamy,Sugarcane,12,0,36
2,34,65,62,Black,Cotton,7,9,30
3,32,62,34,Red,Tobacco,22,0,20
4,28,54,46,Clayey,Paddy,35,0,0
...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19
95,30,60,27,Red,Tobacco,4,17,17
96,38,72,51,Loamy,Wheat,39,0,0
97,36,60,43,Sandy,Millets,15,0,41
98,29,58,57,Black,Sugarcane,12,0,10

In [49]:
cat_ohe =pd.get_dummies(df,drop_first =True)
cat_ohe

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil Type_Clayey,Soil Type_Loamy,Soil Type_Red,Soil Type_Sandy,Crop Type_Cotton,Crop Type_Ground Nuts,Crop Type_Maize,Crop Type_Millets,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_Pulses,Crop Type_Sugarcane,Crop Type_Tobacco,Crop Type_Wheat
0,26,52,38,37,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0
1,29,52,45,12,0,36,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,32,62,34,22,0,20,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,25,50,32,24,0,19,1,0,0,0,0,0,0,0,0,0,1,0,0,0
95,30,60,27,4,17,17,0,0,1,0,0,0,0,0,0,0,0,0,1,0
96,38,72,51,39,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
97,36,60,43,15,0,41,0,0,0,1,0,0,0,1,0,0,0,0,0,0
98,29,58,57,12,0,10,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [50]:
X=cat_ohe

In [51]:
d={}
for i,j in enumerate(y.unique().tolist()):
    if j not in d:
        d[j]=i
d

{'Urea': 0,
 'DAP': 1,
 '14-35-14': 2,
 '28-28': 3,
 '17-17-17': 4,
 '20-20': 5,
 '10-26-26': 6}

In [52]:
y=y.map(d)
y

0     0
1     1
2     2
3     3
4     0
     ..
94    3
95    6
96    0
97    1
98    5
Name: Fertilizer Name, Length: 99, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [54]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()

In [55]:
log_model.fit(X_train, y_train)

LogisticRegression()

In [56]:
pred = log_model.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score

In [58]:
accuracy_score(pred, y_test)

0.95